.ChatPage {
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ChatContainer {
    background-color: aliceblue;
    height: 60%;
    width: 50%;
    border: 2px red solid;
}

.header {
    width: 100%;
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>h2{
width: 80%;
}
.header>a>img {
padding: 90%;
    width: 5%;
}

.chatBox {
    border: 1px solid black;
    height: 73%;
    box-sizing: border-box;
}

.inputBox {
    border: 1px solid black;
    box-sizing: border-box;
    height: 12%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#chatInput {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    background-color: aliceblue;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0px;
}

.sendButton {
    background-color: crimson;
    color: aliceblue;
    border: none;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: 60px;
}